.Contact-header{
    font-size: 60px;
    color: white;
    height: 72px;
    margin: 1rem;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
}
.Textarea{
    width: 50%;
    height: 50px;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
    font-family:sans-serif;
    resize: none;
    
}
.Input{
    font-size: 20px;
    padding-left: 10px;
    width: 50%;
    margin: 10px auto;
    height: 50px;
    border-radius: 10px;

}
.btn-send{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    border: black 3px solid;
    
    display: block;

} 

.Contactform-container{
    width: 80%;
    margin: 0 auto;
}
.Input:focus, .Textarea.Input:focus{
    outline: none;
}
.btn-send:focus,
.btn-send:hover {
    box-shadow: inset 150px 0 0 0 #161b22, inset 0 150px 0 0 #161b22;
    color: white;
    transition: 1s;
    padding: 0;
    border-color: white;
    border-radius: 0;
}

@media (max-width:320px) {
    .Contact-header{
        font-size: 2rem;
        margin: 0 auto;
    }
    .Input{
        height: 20px;
        width: 100%;
        font-size: 0.6rem;
        margin: 2px 0;
        border-radius: 5px;
    }
    .Textarea{
        height: 20px;
        width: 98%;
        font-size: 0.6rem;
        margin: 2px 0;
        border-radius: 5px;
    }
    .btn-send{
        width: 84px;
        height: 28px;
        border-radius: 5px;
        font-size: 12px;
        margin: 10px auto;
    }
}
